@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Figtree", sans-serif;
}

.container {
  @apply max-w-[1200px] mx-auto
}